@charset "UTF-8";
/* CSS Document */

.read_banner {
	margin: 15px 0 0 0;
}

.read_banner h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.read_banner img {
	width: 100%;
}

.community_info {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 10px 0 0 0;
	padding: 0;
	background-color: #F4F7F5;
	border-top: 2px #091540 solid;
	min-height: 400px;
}

.inner_info {
	padding: 0 85px 0 30px;
}

.archives {
	min-height: 400px;
	margin: 0;
	padding: 0px 0 0 0;
}

#arc_head {
	background-color: #1F2041;
	padding: 0px 0 0 10px;
	height: 35px;
}

.archives h3 {
	padding: 7px 0 0 0;
	color: white;
}

.archives h4 {
	text-decoration: underline;
}

.archives li {
	list-style-type: none;
}

.archives ul {
	padding-left: 0;
}

.archives li a{
	color: #1B2021;
	text-decoration: none;
}

.2017 {
	padding-left: 100px;
}
	


	